<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>EJS Document</title>

  <style type="text/css" media="screen"> 
    body { 
        background-color: skyblue; 
        text-decoration-color: white; 
        font-size: 3em; 
    } 
</style> 

</head>
<body>
  <h2>This is a Profile.ejs Page</h2>
  <p> Welcome, <%= user.name %></p>
  <p> Email: <%= user.email %></p>
  <p> Country: <%= user.country %></p>
</body>
</html>